.navbar {
    position: fixed;
    left: 0px;
    z-index: 99;
    transition: 0.2s all;
    top: 0px;
    width: 100vw;
    &-hide{
        transform: translate(0, -100%);
    }
    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    &-active {
        background: $background-color;
    }

    &-left {
        display: flex;
        align-items: center;
        text-decoration: none;

        h4 {
            font-weight: bold;
            font-size: 26px;
            line-height: 30px;
            margin-left: 15px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    &-links {
        display: flex;
        align-items: center;

        &-orbs {
            margin-right: 40px;
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;

            &-arrow {
                margin-left: 10px;
            }

        }

    }
}

@media only screen and (max-width: $mobile){
    .navbar{
        &-flex{
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-links{
            flex-direction: column;
            align-items: flex-end;
            &-link{
                height: 20px;
                img{
                    height: 100%;
                }
            }
            &-orbs{
                margin-right: 0px;
                order: 1;
                margin-top: 20px;
            }
        }
        &-left {
            h4{
                display: none;
            }
        }
    }
}