@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: black;
  outline: none;
  user-select: text;
}

button {
  padding: 0px;
  cursor: pointer;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

:root {
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #19184C;
  font-family: "Work Sans", sans-serif;
  width: 100%;
}

* {
  color: white;
}

.grid, .main-grid, .main-media, .main-learn-more, .main-videos-grid, .footer-grid {
  max-width: 1720px;
  width: calc(100% - 140px);
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 90px;
  line-height: 106px;
}
.title * {
  font-weight: 800;
  font-size: 90px;
  line-height: 106px;
}

@media only screen and (max-width: 1500px) {
  .title {
    font-size: 65px;
    line-height: 75px;
  }
  .title * {
    font-size: 65px;
    line-height: 75px;
  }
}
@media only screen and (max-width: 700px) {
  .grid, .main-grid, .main-media, .main-learn-more, .main-videos-grid, .footer-grid {
    width: 100%;
    padding: 0px 30px;
    overflow: hidden;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
  }
  .title * {
    font-size: 32px;
    line-height: 44px;
  }
}
.navbar {
  position: fixed;
  left: 0px;
  z-index: 99;
  transition: 0.2s all;
  top: 0px;
  width: 100vw;
}
.navbar-hide {
  transform: translate(0, -100%);
}
.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.navbar-active {
  background: #19184C;
}
.navbar-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-left h4 {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin-left: 15px;
}
.navbar-left img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links-text {
  margin-right: 40px;
  color: #C5CFF8;
  opacity: 0.5;
}
.navbar-links-text * {
  font-weight: 400;
  font-size: 24px;
}
.navbar-links-orbs {
  margin-right: 30px;
}
.navbar-links-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar-links-link-arrow {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .navbar-flex {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-links {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-links-text {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 5px;
  }
  .navbar-links-text * {
    font-size: 11px;
    text-align: left;
  }
  .navbar-links-link {
    height: 20px;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-links-link img {
    height: 100%;
    margin-left: 5px;
  }
  .navbar-links-orbs {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .navbar-left h4 {
    display: none;
  }
}
.socials-title {
  margin-bottom: 20px;
}
.socials-title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #E84ECF;
}
.socials-list {
  display: flex;
  align-items: center;
}
.socials-link {
  margin-right: 30px;
  width: 32px;
  height: 32px;
}
.socials-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.socials-link:last-child {
  margin-bottom: 0px;
}

.footer {
  background: linear-gradient(244.96deg, rgba(197, 207, 248, 0.15) 13.95%, rgba(72, 62, 218, 0.4) 98.36%);
  backdrop-filter: blur(32px);
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.footer-shadow {
  position: absolute;
  left: 50%;
  width: 1500px;
  transform: translate(-70%);
  bottom: 0px;
  z-index: -1;
  pointer-events: none;
}
.footer-mobile-shadow {
  display: none;
}
.footer-right {
  width: 625px;
}
.footer-right * {
  color: #E5EBFD;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
.footer-right strong {
  font-weight: bold;
}
.footer-right a {
  text-decoration: none;
  color: #E84ECF;
  pointer-events: none;
}
.footer-right h3 {
  font-weight: bold;
  margin-bottom: 25px;
}
.footer-bottom {
  margin-top: 60px;
  max-width: 90%;
}
.footer-bottom * {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #E5EBFD;
}
.footer-bottom a {
  text-decoration: none;
  font-weight: 700;
}
.footer-left-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  max-width: 500px;
}
.footer-left-title a {
  border-bottom: 1px solid white;
}
.footer-flex {
  justify-content: space-between;
  display: flex;
}
.footer .socials {
  margin-top: 65px;
}

@media only screen and (max-width: 1350px) {
  .footer-right {
    width: 450px;
  }
}
@media only screen and (max-width: 1100px) {
  .footer-flex {
    flex-direction: column;
  }
  .footer-right {
    margin-top: 55px;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .footer-shadow {
    display: none;
  }
  .footer-mobile-shadow {
    top: 0px;
    height: 100%;
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    pointer-events: none;
  }
  .footer-bottom {
    width: 100%;
  }
  .footer-bottom * {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-right * {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-left-title {
    font-size: 18px;
    line-height: 40px;
    max-width: 330px;
  }
  .footer-left-title a {
    position: relative;
    top: 5px;
  }
}
.main-hero {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
}
.main-hero-right {
  padding-right: 160px;
}
.main-hero-description {
  background: linear-gradient(238.51deg, rgba(197, 207, 248, 0.051) 36.15%, rgba(255, 255, 255, 0.3) 96.99%);
  box-shadow: 0px 24px 48px rgba(37, 43, 60, 0.3);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 60px;
  padding: 30px;
  width: 389px;
}
.main-hero-description * {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}
.main-hero-description * strong {
  font-weight: 700;
}
.main-hero-description *:last-child {
  margin-bottom: 0px;
}
.main-hero-description h5 {
  padding-left: 20px;
  position: relative;
}
.main-hero-description h5::before {
  position: absolute;
  left: 0px;
  top: 3px;
  content: "*";
}
.main-hero-title {
  position: relative;
  margin-bottom: 30px;
}
.main-hero-title img {
  position: absolute;
}
.main-hero-title-bell {
  left: 320px;
  width: 170px;
  height: auto;
  top: -10px;
}
.main-hero-title-beta {
  left: 340px;
  bottom: 17px;
  width: 180px;
  height: auto;
}
.main-hero-title h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
}
.main-hero-subtitle {
  margin-bottom: 48px;
}
.main-hero-subtitle h3 {
  color: #C5CFF8;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.main-hero-download-title {
  display: flex;
  align-items: center;
}
.main-hero-download-title img {
  margin-left: 10px;
}
.main-hero-download-title h5 {
  color: #E84ECF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.main-hero-download-links {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.main-hero-download-links-link {
  background: #FFFFFF;
  box-shadow: 0px 24px 76px rgba(232, 78, 207, 0.48);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  color: #19184C;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  height: 43px;
  padding: 0px 12px;
  align-items: center;
}
.main-hero-download-links-link img {
  margin-right: 10px;
  width: 16px;
  height: auto;
}
.main-hero-download-links-link:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 1550px) {
  .main-hero-right {
    padding-right: 5%;
  }
}
@media only screen and (max-width: 1350px) {
  .main-hero-description {
    zoom: 0.85;
  }
  .main-hero-title {
    zoom: 0.8;
  }
  .main-hero-subtitle h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .main-hero {
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
  }
  .main-hero-title {
    zoom: 0.6;
  }
  .main-hero-description {
    zoom: 1;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
  }
  .main-hero-description * {
    font-size: 14px;
    line-height: 18px;
  }
  .main-hero-right {
    margin-top: 50px;
    padding-top: 200px;
    width: 100%;
    position: relative;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .main-hero-title {
    zoom: 0.45;
  }
  .main-hero-subtitle h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
.main-videos {
  position: relative;
  margin-top: 70px;
}
.main-videos-mobile-shadow {
  display: none;
}
.main-videos-flex {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  left: -50px;
  position: relative;
}
.main-videos-shadow {
  position: absolute;
  left: 0px;
  pointer-events: none;
  top: -180px;
  width: 900px;
  height: auto;
  z-index: -1;
}
.main-videos-grid {
  position: relative;
}
.main-videos-video {
  height: 400px;
  position: relative;
  width: 650px;
  text-decoration: none;
}
.main-videos-video-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.main-videos-video-play {
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 35px;
  left: -35px;
}
.main-videos-video-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.main-videos-video-content {
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
  width: fit-content;
  height: 100%;
}

@media only screen and (max-width: 1550px) {
  .main-videos-video {
    width: 520px;
    height: 316px;
  }
  .main-videos-video-text {
    font-size: 24px;
    line-height: 28px;
  }
  .main-videos-video-play {
    left: -50px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .main-videos-mobile-shadow {
    display: block;
    position: absolute;
    left: 0px;
    width: 90%;
  }
  .main-videos-shadow {
    display: none;
  }
  .main-videos-video {
    width: 100%;
    height: 55vw;
  }
  .main-videos-video-text {
    font-size: 18px;
    line-height: 22px;
  }
  .main-videos-video-play {
    bottom: -20px;
  }
  .main-videos-video-content {
    margin: 0px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .main-videos-video-poster {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.15);
  }
  .main-videos-video:nth-child(1) {
    margin-bottom: 50px;
  }
  .main-videos-flex {
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0px;
  }
}
.main-learn-more {
  position: relative;
  margin-top: 50px;
  padding-bottom: 160px;
}
.main-learn-more-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #C5CFF8;
  margin-bottom: 25px;
}
.main-learn-more-link {
  display: flex;
  align-items: center;
  background: linear-gradient(244.32deg, rgba(197, 207, 248, 0.17) 4.72%, rgba(255, 255, 255, 0.3) 87.52%);
  box-shadow: 0px 24px 60px rgba(72, 62, 218, 0.24);
  backdrop-filter: blur(32px);
  width: 360px;
  border-radius: 60px;
  height: 95px;
  padding: 0px 30px 0px 70px;
  text-decoration: none;
  position: relative;
}
.main-learn-more-link-orbs-logo {
  position: absolute;
  left: -10px;
  width: 100px;
  top: 50%;
  transform: translate(0, -40%);
}
.main-learn-more-link .text-p {
  color: #15D8F9;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media only screen and (max-width: 700px) {
  .main-learn-more {
    padding-bottom: 80px;
  }
  .main-learn-more-link {
    width: auto;
    padding-right: 20px;
    padding-left: 60px;
    height: 80px;
  }
  .main-learn-more-link-orbs-logo {
    width: 80px;
  }
  .main-learn-more-link .text-p {
    font-size: 14px;
  }
}
.main-media {
  margin-top: 126px;
  position: relative;
  margin-bottom: 100px;
  height: fit-content;
}
.main-media-mobile-shadow {
  display: none;
}
.main-media-list {
  flex-wrap: wrap;
  display: flex;
  gap: 55px 70px;
  padding-top: 80px;
  justify-content: space-between;
}
.main-media-list-item {
  width: 295px;
}
.main-media-list-item a {
  text-decoration: none;
}
.main-media-list-item-body {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
}
.main-media-list-item-poster {
  width: 100%;
  height: 195px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 49px;
  overflow: hidden;
}
.main-media-list-item-poster img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1550px) {
  .main-media-list {
    padding-top: 50px;
    gap: 55px 30px;
  }
  .main-media-list-item {
    width: calc(25% - 30px);
  }
  .main-media-list-item-poster {
    height: 13vw;
  }
}
@media only screen and (max-width: 700px) {
  .main-media {
    margin-top: 80px;
  }
  .main-media-list {
    flex-direction: column;
    align-items: center;
  }
  .main-media-list-item {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  .main-media-list-item-poster {
    min-height: 195px;
    height: 40vw;
    max-height: 260px;
  }
}
.main-partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.main-partners-list-item {
  width: 140px;
  height: 140px;
}
.main-partners-list-item a {
  width: 100%;
  height: 100%;
}
.main-partners-list-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1400px) {
  .main-partners-list-item {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 700px) {
  .main-partners-list {
    padding-top: 64px;
    flex-wrap: wrap;
    gap: 37px;
  }
  .main-partners-list-item {
    width: 140px;
    height: 140px;
  }
}
.main-protocols {
  margin-top: 170px;
  position: relative;
}
.main-protocols-shadow {
  position: absolute;
  width: 1200px;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-protocols-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  gap: 0px 50px;
}
.main-protocols-list-item {
  max-width: 460px;
  width: calc(33.3333333333% - 25px);
  height: 130px;
  background: linear-gradient(1.99deg, #FFFFFF 30.01%, rgba(255, 255, 255, 0.5) 122.8%);
  border-radius: 50px;
}
.main-protocols-list-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 60px 0px 40px;
  justify-content: space-between;
  text-decoration: none;
}
.main-protocols-list-item a p {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #19184C;
}
.main-protocols-list-item-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

@media only screen and (max-width: 1600px) {
  .main-protocols-list-item a p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1400px) {
  .main-protocols-list-item {
    height: 110px;
  }
  .main-protocols-list-item-img {
    width: 70px;
    height: 70px;
  }
  .main-protocols-list-item a {
    padding: 0px 30px 0px 30px;
  }
  .main-protocols-list-item a p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 700px) {
  .main-protocols {
    margin-top: 80px;
  }
  .main-protocols-shadow {
    display: none;
  }
  .main-protocols-list {
    flex-direction: column;
    gap: 50px;
    padding-top: 64px;
  }
  .main-protocols-list-item {
    width: 100%;
    max-width: 500px;
  }
  .main-protocols-list-item a p {
    font-size: 24px;
  }
}
.main {
  position: relative;
  height: 100%;
}
.main-globe {
  position: absolute;
  right: 0px;
  pointer-events: none;
  top: 0px;
  z-index: -1;
  --animate-duration: 2.5s;
}
.main-mobile-globe {
  display: none;
}
.main-shadow {
  position: absolute;
  right: 0px;
  z-index: -2;
  width: 900px;
  pointer-events: none;
}
@media only screen and (max-width: 1550px) {
  .main-shadow {
    width: 700px;
  }
}
@media only screen and (max-width: 1350px) {
  .main-globe {
    width: 600px;
  }
}
@media only screen and (max-width: 700px) {
  .main-globe {
    display: none;
  }
  .main-shadow {
    display: none;
  }
  .main-mobile-globe {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 300px);
    top: 0%;
    width: 100vw;
    transform-origin: bottom;
  }
}

/*# sourceMappingURL=index.css.map */
