.main-partners {

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;

        &-item {
            width: 140px;
            height: 140px;

            a {
                width: 100%;
                height: 100%;

            }

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .main-partners {
        &-list {
            &-item {
                width: 120px;
                height: 120px;
            }
        }
    }
}

@media only screen and (max-width: $mobile){
    .main-partners {
        &-list {
            padding-top: 64px;
            flex-wrap: wrap;
            gap: 37px;
            &-item {
                width: 140px;
                height: 140px;
            }
        }
    } 
}